
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    color: #7a7a7a;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;

}

h1, h2{
    color: #45b29a;
}


/*-------------------------------------------------------NAV-----------------------------------------------------*/
.navbar{
    padding:30px;
    transition: 0.4s;
    background-color: #e0ebe8!important;
}

.navbar-brand{
    font-size: 1.8rem;
    margin-right: 0!important;
    transition: 0.4s;
    color: #45b29a!important;
}

#logo{
    width: 100px;
    margin-left: 15px;
}

.navbar-nav{
    font-size: 1.2em;
    transition: 0.4s;
}


.fa-circle{
    display: inline-block;
    position: relative;
    font-size: 3px;
    left: .5em;
    right: 1.2em;
    top: 2em;
    vertical-align: middle;

}

.navbar-expand-lg .navbar-collapse{
    margin-right: 12rem;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
    color:#45b29a!important;
}

/*-------------------------------------------------------HERO IMG-----------------------------------------------------*/
.bgimage {
    width:100%;
    height:200px;
    /*background: url('../images/desktopphoneLOGO.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size:auto;*/
    margin: 100px 0;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/*.hero-text>h1 {*/
    /*color:white!important;*/
/*}*/

.work-text {
    text-align: center;
    top: 50%;
    margin: 0 auto;
}


#work{
  width: 500px;
}

/*-------------------------------------------------------INTRO-----------------------------------------------------*/

.img-thumbnail{
    border-radius: 50%;
    height:200px;
    background-color: #d4c1dd;
    margin:15px;
}

.col-5>h3{
    margin:auto;
    margin-bottom: 20px;
}
#intro{
    margin-top: 150px;
    margin-bottom:100px;

}

.divider{
    font-size: 7px;
    padding:10px;
    color:#dee2e6;
}
.divider-container{
    margin: 100px auto;
    max-width: 100px;
}

/*-------------------------------------------------------CAROUSEL-----------------------------------------------------*/


#carouselExampleFade{
    background-color: #b1b1b1;
    color:white;
    padding: 50px;

}

.carousel-item>h1{
    color: white;
}

.carousel-inner{
    height: 200px;
}

.carousel-control-next{
    right:10px;
}
.carousel-control-prev{
    left:10px;
}


/*-------------------------------------------------------RESUME-----------------------------------------------------*/

.action{
    cursor: pointer;
    display: inline-block;
}
.action>h5::after{
    font-family: "Font Awesome\ 5 Free";
    bottom: .25em;
    left:.5em;
    font-weight: 900;
    content: '\f0dd';
    position: relative;
    vertical-align: middle;
}

#showOrHideDiv6>ul, .softskills>ul{
    list-style-type: none;
}
#showOrHideDiv6>ul>li::before, .softskills>ul>li::before{
    font-family: "Font Awesome\ 5 Free";
    bottom: .25em;
    right: .5em;
    font-weight: 900;
    content: '\f0a3';
    position: relative;
    vertical-align: middle;
    color: #45b29a;
    font-size: 12px;
}

.footer{
    padding-top:50px;
    background-color: #e0ebe8;
    height: 150px;
    margin-top: 100px;
    color: #b1b1b1;
    font-size: 15px;
}
.footer>.container>p>a{
    text-decoration: double;
    color: #b1b1b1;
}


/*--------------------------------------------------RESPONSIVE WEB-----------------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .bgimage{
        height: 500px;
    }
    .hero-text{
        top:350px;
    }

    .img-thumbnail{
        height: auto;
    }
    .col-6{
        flex:auto;
        max-width: 80%!important;

    }

    .media-object {
        margin-bottom: 15px;
    }

    #carouselExampleFade{
        padding: 100px 0 100PX 0;
    }
    .carousel-control-next, .carousel-control-prev{
        top:auto;

    }

    .carousel-inner{
        height: 250px;
    }



}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .hero-text{
        top: 400px;
    }

    .carousel-inner{
        height: 200px;
    }

}
